.min-h-screen.flex.items-center.justify-center.py-12.px-4.sm:px-6.lg:px-8.bg-gradient-to-b.from-blue-400.to-blue-900
  .max-w-md.w-full.bg-white.bg-gray-100.rounded-xl.shadow-md.p-2
    %div
      %h2.mt-6.text-center.text-3xl.font-extrabold.text-gray-900
        Shorten URL

    %form{class: "mt-8 space-y-6", method: 'post'}
      %input#url{type: 'text', class: 'form-input', placeholder: 'Enter a URL'}

      %button{type: 'submit', class: 'btn btn-primary'}
        Shorten
