.content.bg-gradient-to-b.from-yellow-600.to-red-700
  .card
    %h2.card-header
      Not Found
    %p.m-4.text-center
      The requested URL was not found

    = link_to 'Back to homepage', root_path, { :class => 'btn btn-danger block text-center' }
