.min-h-screen.flex.items-center.justify-center.py-12.px-4.sm:px-6.lg:px-8.bg-gradient-to-b.from-yellow-600.to-red-700
  .max-w-md.w-full.bg-gray-100.rounded-xl.shadow-md.p-2
    %h2.mt-6.text-center.text-3xl.font-extrabold.text-gray-900
      Not Found
    %p.m-4.text-center
      The requested URL was not found

    = link_to 'Back to homepage', root_path, { :class => 'group relative w-full py-2 px-4 border border-transparent text-sm font-medium rounded-md bg-red-600 hover:bg-red-700 block text-center' }
